/* ======================BODY======================= */

body {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-position: top;
    background-color: black;
    width: 100%;
    margin: 0px;
}

/* ===================== MAIN ============================= */
.main {
    grid-area: main;
    width: 100%;
    padding-left: 3rem;
}

.layout {
    padding-right: 1rem;
}

/* =============================CARRUSEL================ */

.myList-seccion {
    display: flex;
    width: 100%;
    height: 50vh;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.myList-seccion p{
    color: rgb(70,70,70);
    font-size: 1rem;
}




@media (max-width:1070px) {

    /* ============================= MAIN =============================== */
    .main {
        padding-left: 1rem;
    }
    
}


@media (max-width:480px) {

    .atencion_cliente ul li {
        width: 100%;
    }


}