* {
    box-sizing: border-box;
    font-family: 'NetflixSans', sans-serif;
    color: white;
    /* outline: 1px solid red; */
}

@font-face {
    font-family: 'NetflixSans';
    src: url('./fonts/netflix-sans-core-variable-full.woff2') format('woff2');
}

.layout {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    place-items: center;
    gap: 50px;
    margin: 0;
    padding: 1rem;
    padding-right: 0;

}